
/* --- Buttons --- */


.btn-style-2 {
	color: #fff;
	border: 0;
	border-radius: 0px;
	padding: 12px 20px;
	font-size: 12px;
	font-weight: 600;
	line-height: 22px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	background-color: #f43d46;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.btn-style-2:hover {
	text-decoration: none;
	color: #fff;
	background-color: #383338;
}

.sign-in-up-box input[type="email"], .sign-in-up-box input[type="password"], .sign-in-up-box input[type="text"] {
	background-color: #f7f6f4;
	border-radius: 0px;
	font-size: 14px;
	height: 50px;
	border: 0px;
}
.forgot-password {
	color: #333;
	text-decoration: underline;
	font-weight: 700;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.forgot-password:hover {
	color: #f43d46;
	text-decoration: underline;
}
.no-account a {
	color: #333;
	text-decoration: underline;
	font-weight: 700;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.no-account a:hover {
	color: #f43d46;
}
